
  <footer class="custom-footer">
    <div class="footer-container">
      <div class="footer-content">
        <h3>Zhilin Shi</h3>
        <ul class="footer-links">
          <li><i class="fas fa-envelope"></i> <a href="mailto:zshi@tamu.edu">zshi@tamu.edu</a></li>
          <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/zhilin-shi-5149191a3/">LinkedIn</a></li>
          <li><i class="fab fa-github"></i> <a href="https://github.com/zShi1026">zShi1026</a></li>
          <li><i class="ai ai-google-scholar"></i> <a href="https://scholar.google.com/citations?user=EClRuZwAAAAJ&hl=en">Scholar</a></li>
        </ul>
        <div class="copyright">
          © 2025 Zhilin Shi.
        </div>
      </div>
      <div class="footer-logo">
        <img src="/assets/images/zhilinshi_e_signature.png" alt="TAMU Logo">
      </div>
    </div>
  </footer>
  